<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="BANANA" type="BANANA.Common.WebConfiguration, BANANA.Common.v4.5"/>
	</configSections>
	<BANANA>
		<connections>
			<add name="218.38.12.153.BANANA" priority="10" providerName="System.Data.SqlClient" connectionString="TffBXNR2J8zwq0efw/mFHZz35G48yXHZiqKZ9QHJsnwjrR8F+BAo2XK5EIiXw4tGyEMwKA3hhcDio+k+BfuS2rZqENQSg+PoQKs6fKccAk1VfXQgFzcSBrJrbOSQ4BdLMpMtBdcc3VLtxkJ0TJHzO4zZuY2ZJ5q3yV2hFQELAFs=" />
		</connections>
		<cryptography>
			<add type="DES" value="`KL:=KbH" />
			<add type="TripleDES" value="Ye}yx`2p,dsqN$}5SMwv+fWd" />
		</cryptography>
		<fileUpload uploadDirectory="/Storage/" allowedFileTypes="txt, gif, jpg, jpeg, png, ppt, xls, doc, pptx, xlsx, docx, pdf, hwp, zip" />
	</BANANA>
	<system.web>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5.1" />
		<!-- Ajax 핸들러를 등록 : S -->
		<httpHandlers>
			<add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</httpModules>
		<!-- Ajax 핸들러를 등록 : E -->
		<customErrors mode="On" redirectMode="ResponseRewrite">
			<error statusCode="404" redirect="/Common/404.aspx" />
			<error statusCode="500" redirect="/Common/500.aspx" />
		</customErrors>
	</system.web>
	<system.webServer>
		<!-- 500.22 오류 방지 : S -->
		<validation validateIntegratedModeConfiguration="false"/>
		<!-- 500.22 오류 방지 : E -->
		<!-- Ajax 핸들러를 등록 : S -->
		<handlers>
			<add name="Ajax" verb="*" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
		</handlers>
		<!-- Ajax 핸들러를 등록 : E -->
	</system.webServer>
</configuration>
