body{font-family:Gulim;margin:3px 3px 3px 3px;}
#frContainer{width:100%;height:100%;}
#frTop{height:40px;width:100%;position:relative;}
#frMenu{height:36px;width:100%;}
#frTabs{height:26px;width:100%;}
#frTabs .tab{font-size:12px;background-color:#eee;border:1px solid #8c8e8c;height:20px;margin-top:5px;margin-left:2px;float:left;position:relative;}
#frTabs .on{background-color:#ffffff;border-bottom:1px solid #ffffff;z-index:99998;}
#frTabs .tab button{vertical-align:middle;}
#frTabs .tab a{color:#000000;text-decoration:none;position:relative;height:12px;top:20%;margin-left:3px;margin-right:-3px;outline:none;}
#frMain{width:100%;background-color:#ffffff;border:1px solid #8c8e8c;}
#frMain .frame{width:100%;display:none;}
#logo{float:left;height:34px;position:relative;top:50%;margin-top:-17px;margin-left:3px;}
		
#controlPanel{height:100%;font-family:Gulim, Arial, Verdana, Tahoma;padding:2px 3px 0 0;}
#currentTime{width:100%;text-align:right;font-size:11px;}
#currentTime:hover{color:Red;}
#currentInfo{width:100%;height:20px;padding:5px 0px 0px 0px;}
#settings{float:right;margin-top:2px;}
#settings button { }
#userInfo{font-size:12px;float:right;margin:5px 5px 0px 5px;}
#userMenu{font-size:12px;position:absolute;top:30px;width:90px;display:none;background-color:#eee;border:1px solid #8c8e8c;padding:5px;z-index:999999;border-radius:4px;}
#userMenu div{margin: 3px 0px 3px 0px;}
#organization{float:right;}
#divPageProgress{position:absolute;background-color:#eee;border:1px solid #8c8e8c;width:320px;height:60px;z-index:100;border-radius:4px;display:none;}