<?xml version="1.0" encoding="utf-8" ?>
<menus>
	<menu text="판매원정보" navigateUrl="#" icon="linecons-cog">
		<menu text="본인정보조회" navigateUrl="/Office/MBR/1000.aspx"></menu>
		<menu text="좌우조직도" navigateUrl="/Office/MBR/2000.aspx"></menu>
		<menu text="트리조직도" navigateUrl="/Office/MBR/3000.aspx"></menu>
	</menu>
	<menu text="매출정보" navigateUrl="#" icon="linecons-desktop">
		<menu text="본인 매출현황" navigateUrl="/Office/SLS/1000.aspx"></menu>
		<menu text="그룹 매출현황" navigateUrl="/Office/SLS/2000.aspx"></menu>
	</menu>
	<menu text="수당정보" navigateUrl="#" icon="linecons-note">
		<menu text="수당별 내역조회" navigateUrl="/Office/ACC/1000.aspx"></menu>
		<menu text="통합수당조회" navigateUrl="/Office/ACC/2000.aspx"></menu>
	</menu>
</menus>